{%extends 'base.html' %}
{% block content %}
<nav class="navbar mynavbar ">
    <span class="navbar-brand mb-1 h1 myuser">Hello {{user}}!</span>
    <span class="navbar-brand mb-1 h1 myuser" >
        <a class="btn btn-link myuser" style="padding-right: 35px;" href="/">Home</a>
        <a class="btn btn-link myuser" style="padding-right: 35px;" href="add">Add grade</a>
        <a class="btn btn-link myuser" href="login/login" >Logout</a>

    </span>
</nav>

<ul>
    {% for object in d %}
    <li>
        <div class="cards-list-container">
            <div class="cards-container">
                <div class="conference-header">
                    <h4 class="cards-title">{{object}}</h4>
                    <p class="conference-phase"></p>
                </div>

                <table class="cards-body">
                    <tr class="trhead">
                        <th>Student Name</th>
                        <th>Grade</th>
                        <th>Graded by</th>
                        <th>Date</th>
                        <th>Observations</th>
                    </tr>
                    {% for value in subjects %}
                    {% ifequal value.name object %}
                    <tr>
                        <th>{{value.student}}</th>
                        <th>{{value.grade}}</th>
                        <th>{{value.professor}}</th>
                        <th>{{value.date}}</th>
                        <th>{{value.observations}}</th>
                    </tr>
                    {% endifequal %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}

